.pagination_container {
  display: flex;
  list-style-type: none;
}
.pagination_container .pagination_item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 50%;
  line-height: 1.43;
  font-size: 14px;
  min-width: 32px;
  font-weight: 400;
  cursor: pointer;
}
.pagination_item > .disabled {
  @apply cursor-not-allowed;
}
